In [1]:
import onislem
import pandas as pd

In [2]:
df=pd.read_csv("data/nlp_gorsellestirme.csv",index_col=0)

In [3]:
df

                                                    Text
0      merhaba can gurler belirttiginiz urunle ilgili...
1      -bir mesaj atsa! *mesaj sesi* (şok ifadesi) no...
2      mbps fiber baglantim var ama nedense ustunu go...
3      fiberin hizi vatandasin cebindeki parayi nasil...
4      sakin vestel almayinnher urunu bozuk arkasinds...
...                                                  ...
12127                               tab gosterir misiniz
12128  kimse seneye görüşürüz esprisi yapmıyo derken,...
12129  bin kisiye verecegi hizmeti tek santralden bin...
12130  zafer bayraminiz degil bayramimiz kizmislardir...
12131  baston bebek arasi ozellikle anakucagiu sekli ...

[12132 rows x 1 columns]

In [4]:
df.head()

                                                Text
0  merhaba can gurler belirttiginiz urunle ilgili...
1  -bir mesaj atsa! *mesaj sesi* (şok ifadesi) no...
2  mbps fiber baglantim var ama nedense ustunu go...
3  fiberin hizi vatandasin cebindeki parayi nasil...
4  sakin vestel almayinnher urunu bozuk arkasinds...

In [5]:
df.tail()

                                                    Text
12127                               tab gosterir misiniz
12128  kimse seneye görüşürüz esprisi yapmıyo derken,...
12129  bin kisiye verecegi hizmeti tek santralden bin...
12130  zafer bayraminiz degil bayramimiz kizmislardir...
12131  baston bebek arasi ozellikle anakucagiu sekli ...

In [7]:
df["Text_2"]=df["Text"].apply(onislem.pre_processing)
df["Text_2"]=df["Text_2"].apply(onislem.remove_space)
df.head()

,Text,Text_2
0,merhaba can gurler belirttiginiz urunle ilgili...,"[merhap, can, gurler, belirttigi, urunle, ilgi..."
1,-bir mesaj atsa! *mesaj sesi* (şok ifadesi) no...,"[bir, mesaj, atsa, mesaj, sesi, şok, ifadesi, ..."
2,mbps fiber baglantim var ama nedense ustunu go...,"[mbps, fiber, baglant, var, am, ust, goremedi,..."
3,fiberin hizi vatandasin cebindeki parayi nasil...,"[fiber, hiz, vatandas, cep, parayi, nasil, ali..."
4,sakin vestel almayinnher urunu bozuk arkasinds...,"[sak, vestel, almayinnher, ur, bozuk, arkasind..."